body {
    background-color: rgb(74, 74, 212);
}

header h1 {
    text-align: center;
    color: white;
    font-variant: small-caps;
    font-size: 3em;
}

section {
    background-color: rgb(255, 255, 255);
    margin: auto;
    border-radius: 10px;
    width: 50vw;
    height: 50vh;
    padding: 15px;
    line-height: 40px;
    font-size: 1.2em;
}

footer {
    text-align: center;
    color: white;
    font-size: 1.2em;
}