* {
    padding: 0;
    margin: 0;
}

body {
    background-color: blue;
}

header h1 {
    text-align: center;
    color: white;
    font-size: 3em;
    font-variant: small-caps;
    margin: 30px 0px;
}

section {
    background-color: white;
    width: 50vw;
    height: 50vh;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    line-height: 40px;
    margin-bottom: 30px;
    font-size: 1.2em;
}

input#inumber {
    width: 80px;
    height: 25px;
    font-size: 1.1em;
}

input#submit {
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    padding: 3px;
}

input#submit:hover {
    background-color: rgb(243, 232, 232);
}

img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

footer {
    text-align: center;
    font-size: 1.3em;
    color: white;
}